<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<% if (errors && errors.length > 0) { %>
  <ul style="color: red;">
    <% errors.forEach(error => { %>
      <li><%= error %></li>
    <% }); %>
  </ul>
<% } %>

<form method="POST">
  <div>
    <label name="email">Enter your email:</label>
    <input name="email" />
  </div>
  <div>
    <label name="password">Enter your password:</label>
    <input type="password" name="password" />
  </div>
  <div>
      <!-- CSRF token -->
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button>Logon</button>
    <a href="/">
      <button type="button">Cancel</button>
    </a>
  </div>
</form>

<%- include("partials/footer.ejs") %>
