<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<% if (errors && errors.length > 0) { %>
  <ul style="color: red;">
    <% errors.forEach(error => { %>
      <li><%= error %></li>
    <% }); %>
  </ul>
<% } %>

<% if (info && info.length > 0) { %>
  <ul style="color: green;">
    <% info.forEach(i => { %>
      <li><%= i %></li>
    <% }); %>
  </ul>
<% } %>

<p>The secret word is: <%= secretWord %></p>
<p>Would you like to change it?</p>
<form method="POST">
  <label for="secretWord">New Secret Word:</label>
  <input name="secretWord" id="secretWord" /><br />
  <!-- CSRF token -->
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <button>Submit</button>
</form>

<%- include("partials/footer.ejs") %>
